[defaults]
inventory          = inventory/hosts.yml
roles_path         = roles
collections_paths  = ./collections:~/.ansible/collections
filter_plugins     = filter_plugins
host_key_checking  = False
interpreter_python = auto_silent
retry_files_enabled = False
nocows             = True
forks              = 25
vault_password_file = .vault_pass

[inventory]
unparsed_is_failed = True